<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiosk.server.store.domain.ImageRepository">

    <!-- 이미지 생성 -->
    <insert id="insert" parameterType="Images">
        INSERT INTO menu_image (user_id, menu_id, image_id, image_bytes, created_at)
        VALUES (#{userId}, #{menuId}, #{imageId}, #{imageBytes}, #{createdAt});
    </insert>
    
    <!-- ID로 이미지 찾기 -->
    <select id="findById" parameterType="java.lang.Long" resultType="Images">
        SELECT * FROM menu_image
        WHERE menu_id = #{menuId};
    </select>

    <select id="findImageBytesById" parameterType="java.util.Map" resultType="java.lang.Object">
        SELECT image_bytes FROM menu_image WHERE user_id = #{userId} AND menu_id = #{menuId}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM menu_image WHERE menu_id = #{menuId};
    </delete>

</mapper>